<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csnblog.api.web.mapper.BoardMapper">
    <select id="getBoardList" parameterType="int" resultType="com.csnblog.api.web.domain.Board">
        select
                board_id
              , board_pid
              , user_id
              , user_name
              , subject
              , contents
              , hits
              , reg_date
        from    ci_board  
        WHERE   board_id = #{id} 
    </select>
    
    <select id="getAllBoardList" resultType="com.csnblog.api.web.domain.Board">
        select
                board_id
              , board_pid
              , user_id
              , user_name
              , subject
              , contents
              , hits
              , reg_date
        from    ci_board  
    </select>
</mapper>